*{
    margin: 0;
}
body{
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actors{
    border-radius: 0.5rem;
    width: 600px;
    height: 220px;
    background-color: rgb(60, 62, 68);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
